<div>
	<div>
		<ul>
			<% @users.each do |user| %>
				<%= link_to user_path(user) do %>
				<div class="ui link items">
				  <div class="item">
				    <div class="ui tiny image">
				     <%= image_tag user.image.url %>
				    </div>
				    <div class="content">
				      <div class="header"><%= user.name %></div>
				      <div class="description">
				        <p>Trade with me!</p>
				      </div>
				    </div>
				  </div>
				</div>
				<% end %>


			<% end %>
		</ul>
	</div>
</div>




