<div>
	<div>
		<ul>
			<% @users.each do |user| %>
				<div>
					<li><%= user.name %>
					<%= link_to 'Show', user, :class => "btn btn-primary" %>
					<%= link_to 'Edit', edit_user_path(user), :class => "btn btn-primary" %>					
					 <%= link_to 'Delete', user, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></li>
				</div>
			<% end %>
		</ul>
	</div>
</div>