<div class="ui page grid">
	<div id="top1" class="top aligned row">
	</div>
</div>
<div class="container-fluid">
<!-- Start flash hash -->
	<div class="error-messages">
		<% if @user.errors.any?  %>
			<div>
				<h4 class="text-danger"><%= pluralize(@user.errors.count, "error")  %> prevented you from signing up for an account: </h4>
					<ul class="list-group">
						<% @user.errors.full_messages.each do |msg|  %>
							<li class="list-group-item list-group-item-danger"><%= msg.capitalize %></li>
						<% end %>
					</ul>
			</div>
		<% end %>
	</div>
<!-- End flash hash -->
</div>
<br>
<br>

<div class="ui page grid">
  <div class="six wide centered column">
   	<h3 class= "ui white segment" style="text-align: center">SIGN UP <i class="long arrow right icon"></i>TRADE</h3>
 	 </div>	
</div>
<%= render 'form' %>
<div class="ui page grid">
	<div id="top2" class="bottom aligned row">
	</div>
</div>

