<div class="ui page grid">
  <div class="eight wide column">
    <div class="ui form segment">
      <%= form_for @item do |f| %>
        <div class="field">
          <%= f.label :item_name %>
          <%= f.text_field :item_name %>
        </div>
        <div class="field">
          <%= f.label :item_description %>
          <%= f.text_area :item_description %>
        </div>
        <div class="field">
          <%= f.file_field :item_image %> 
        </div>
        <div class="button">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>