<br>
<div class="container-fluid">
  <div class="well well-xs">
    <h2 id="logo">Today's Items</h2>
    <%= link_to "add item", new_item_path %>
  </div>
  <br>
  <div class="well well-xs">
    <% @items.reverse.each do |item| %>
      <strong><%= link_to item.item_name, item %></strong> by 
      <em><%#= link_to "#{item.user.name},", user_path(item.user) %></em>
      <br> 
      <%= item.created_at.strftime("created at %I:%M%p on %m/%d/%Y")%> 
      <br>
      <br>
    <% end %>
  </div> 
  <br>
  <br>
</div>