<br>
<div class="ui page grid">
  <div class="twelve wide column">
    <div class="ui card">
      <div class="image">
        <%= image_tag @item.item_image.url(:thumb) %>
      </div>
      <div class="content">
        <div class="header">
          <%= @item.item_name %>
        </div>
        <div class="meta">
          <span class="date">
            Added <%= time_ago_in_words(@item.created_at) %> ago
          </span>
        </div>
        <div class="description">
          <%= @item.item_description %>
        </div>
      </div>
    </div>
  </div>
</div>
