<!-- <footer class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<span>
			<%= link_to "Contact Information", contact_path  %>
		</span>
		<span>
			<h4>TradeMe is not a publicly traded company. All the content on this site is not owned by any entity, rather it is a public base of information that can be freely used and distributed</h4>
		</span>
	</div>
</footer> -->